<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidapp.startlancer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.freelancer.LoginFreelancerActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.freelancer.CreateFreelancerAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".ui.freelancer.LoginFreelancerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.freelancer.LoginFreelancerActivity" />
        </activity>
        <activity
            android:name=".ui.freelancer.WelcomeFreelancerActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.startup.CreateStartupAccountActivity"
            android:label="@string/title_activity_create_startup_account"
            android:parentActivityName=".ui.startup.LoginStartupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.startup.LoginStartupActivity" />
        </activity>
        <activity
            android:name=".ui.startup.LoginStartupActivity"
            android:label="@string/title_activity_login_startup"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.startup.WelcomeStartupActivity"
            android:label="@string/title_activity_welcome_startup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.freelancer.StartupDetailActivity"
            android:label="@string/title_activity_startup_detail"
            android:parentActivityName=".ui.freelancer.WelcomeFreelancerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.freelancer.WelcomeFreelancerActivity" />
        </activity>
        <activity
            android:name=".ui.startup.FreelancerDetailActivity"
            android:label="@string/title_activity_freelancer_detail"
            android:parentActivityName=".ui.startup.WelcomeStartupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.WelcomeStartupActivity" />
        </activity>
        <activity
            android:name=".ui.startup.navigation.SampleActivity"
            android:label="@string/title_activity_sample"
            android:parentActivityName=".ui.startup.WelcomeStartupActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.WelcomeStartupActivity" />
        </activity>
        <activity
            android:name=".ui.startup.navigation.StartupProfileActivity"
            android:label="@string/title_activity_startup_profile"
            android:parentActivityName=".ui.startup.WelcomeStartupActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.WelcomeStartupActivity" />
        </activity>
        <activity
            android:name=".ui.freelancer.navigation.FreelancerProfileActivity"
            android:label="@string/title_activity_freelancer_profile"
            android:parentActivityName=".ui.freelancer.WelcomeFreelancerActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.freelancer.WelcomeFreelancerActivity" />
        </activity>
        <activity
            android:name=".ui.freelancer.navigation.FreelancerProfileSkillsActivity"
            android:label="@string/title_activity_freelancer_profile_skills"
            android:parentActivityName=".ui.freelancer.navigation.FreelancerProfileActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.freelancer.navigation.FreelancerProfileActivity" />
        </activity>
        <activity
            android:name=".ui.freelancer.navigation.FreelancerProfileExperiencesActivity"
            android:label="@string/title_activity_freelancer_profile_experiences"
            android:parentActivityName=".ui.freelancer.navigation.FreelancerProfileActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.freelancer.navigation.FreelancerProfileActivity" />
        </activity>
        <activity
            android:name=".ui.freelancer.navigation.FreelancerProfileProjectsActivity"
            android:label="@string/title_activity_freelancer_profile_projects"
            android:parentActivityName=".ui.freelancer.navigation.FreelancerProfileActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.freelancer.navigation.FreelancerProfileActivity" />
        </activity>
        <activity
            android:name=".ui.freelancer.navigation.FreelancerProfileAboutActivity"
            android:label="@string/title_activity_freelancer_profile_about"
            android:parentActivityName=".ui.freelancer.navigation.FreelancerProfileActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.freelancer.navigation.FreelancerProfileActivity" />
        </activity>
        <activity
            android:name=".ui.SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:parentActivityName=".ui.freelancer.WelcomeFreelancerActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.freelancer.WelcomeFreelancerActivity" />
        </activity>
        <activity
            android:name=".ui.startup.navigation.StartupProfileOpeningActivity"
            android:label="@string/title_activity_startupr_profile_opening"
            android:parentActivityName=".ui.startup.navigation.StartupProfileActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.navigation.StartupProfileActivity" />
        </activity>
        <activity
            android:name=".ui.startup.navigation.StartupProfileTeamActivity"
            android:label="@string/title_activity_startup_profile_team"
            android:parentActivityName=".ui.startup.navigation.StartupProfileActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.navigation.StartupProfileActivity" />
        </activity>
        <activity
            android:name=".ui.startup.navigation.StartupProfileWorkActivity"
            android:label="@string/title_activity_startup_profile_work"
            android:parentActivityName=".ui.startup.navigation.StartupProfileActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.navigation.StartupProfileActivity" />
        </activity>
        <activity
            android:name=".ui.startup.navigation.StartupProfileAboutActivity"
            android:label="@string/title_activity_startup_profile_about"
            android:parentActivityName=".ui.startup.navigation.StartupProfileActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.navigation.StartupProfileActivity" />
        </activity>
        <activity
            android:name=".ui.startup.navigation.StartupProfileOpeningDetailActivity"
            android:label="@string/title_activity_startup_profile_opening_detail"
            android:parentActivityName=".ui.startup.navigation.StartupProfileOpeningActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.navigation.StartupProfileOpeningActivity" />
        </activity>
        <activity
            android:name=".ui.startup.StartupOpeningDetailActivity"
            android:label="@string/title_activity_startup_opening_detail"
            android:parentActivityName=".ui.freelancer.StartupDetailActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.freelancer.StartupDetailActivity" />
        </activity>
        <activity
            android:name=".ui.startup.navigation.navbar.StartupApplicationsActivity"
            android:label="@string/title_activity_startup_applications"
            android:parentActivityName=".ui.startup.WelcomeStartupActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.WelcomeStartupActivity" />
        </activity>
        <activity
            android:name=".ui.startup.navigation.StartupApplicationCandidatesActivity"
            android:label="@string/title_activity_startup_application_candidates"
            android:parentActivityName=".ui.startup.navigation.navbar.StartupApplicationsActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.navigation.navbar.StartupApplicationsActivity" />
        </activity>
        <activity
            android:name=".ui.startup.navigation.StartupCandidateDetailActivity"
            android:label="@string/title_activity_startup_candidate_detail"
            android:parentActivityName=".ui.startup.navigation.StartupApplicationCandidatesActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidapp.startlancer.ui.startup.navigation.StartupApplicationCandidatesActivity" />
        </activity>
        <activity
            android:name=".ui.freelancer.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
    </application>

</manifest>
